{% extends 'base.html.twig' %}

{% block title %}Fonctionnaire{% endblock %}

{% block body %}
    <h1>Fonctionnaire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdFonct</th>
                <td>{{ fonctionnaire.idFonct }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ fonctionnaire.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ fonctionnaire.prenom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ fonctionnaire.email }}</td>
            </tr>
            <tr>
                <th>Responsable</th>
                <td>{{ fonctionnaire.responsable ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_fonctionnaire_index') }}">back to list</a>

    <a href="{{ path('app_fonctionnaire_edit', {'idFonct': fonctionnaire.idFonct}) }}">edit</a>

    {{ include('fonctionnaire/_delete_form.html.twig') }}
{% endblock %}
