{% extends 'base.html.twig' %}

{% block title %}CmdIntern index{% endblock %}

{% block body %}
    <h1>CmdIntern index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdCmdInt</th>
                <th>DateCI</th>
                <th>Statut</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cmd_intern in cmd_interns %}
            <tr>
                <td>{{ cmd_intern.idCmdInt }}</td>
                <td>{{ cmd_intern.dateCI ? cmd_intern.dateCI|date('Y-m-d') : '' }}</td>
                <td>{{ cmd_intern.statut }}</td>
                <td>
                    <a href="{{ path('app_cmd_intern_show', {'idCmdInt': cmd_intern.idCmdInt}) }}">show</a>
                    <a href="{{ path('app_cmd_intern_edit', {'idCmdInt': cmd_intern.idCmdInt}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_cmd_intern_new') }}">Create new</a>
{% endblock %}
