{% extends 'base.html.twig' %}

{% block title %}LigneLivExtern index{% endblock %}

{% block body %}
    <h1>LigneLivExtern index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>NumL_LE</th>
                <th>QteLivree</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ligne_liv_extern in ligne_liv_externs %}
            <tr>
                <td>{{ ligne_liv_extern.numLLE }}</td>
                <td>{{ ligne_liv_extern.qteLivree }}</td>
                <td>
                    <a href="{{ path('app_ligne_liv_extern_show', {'numL_LE': ligne_liv_extern.numL_LE}) }}">show</a>
                    <a href="{{ path('app_ligne_liv_extern_edit', {'numL_LE': ligne_liv_extern.numL_LE}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_ligne_liv_extern_new') }}">Create new</a>
{% endblock %}
